doctype html
html
    head
        title Editar tarea
    body
        form(action=`/tasks/${task.id}?_method=PUT`, method="POST")

            textarea(name="description", cols="30", rows="10",placeholder="Coloca aqui tu nuevo pendiente")= task.description
            input(type="submit" value="Guardar")